body {		
	background:#977AD4;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.content {
	width: 800px;
	color: #ffffff;
	margin: 160px auto 0 auto;
}

.name {
	width: 100%;
	text-align: center;
	font-size: 5.2em;
	opacity: 0.9;
}

.tagline {
	text-align: center;
	font-size: 1.5em;
	opacity: 0.8;
	margin-top: 30px;
	
}

.icons {
	text-align: center;
	margin-top: 14px;
}

.icon {
	padding: 20px;
}

a {
  text-decoration: none;
}