body, html {	
	font-family: 'Ubuntu', sans-serif;	
	background: #99c;
}

.content {
	width: 960px;
	margin: 0 auto;
	background: #99c;
}

.header {
	margin = 100px;
	padding: 10px;
	font-size: 20pt;
	font-weight: bold;
	background: #ddd;
}

.nav {
	background:#c99;
}

.main {
	background: yellow;
	width: 250px;
	padding: 0 5px;
	min-height: 300px;
	float: right;
	background: #9c9;
}

.main p {
	text-align: center;
}

.sidebar {
	background: blue;
	color: #ffffff;
	width: 700px;
	min-height: 300px;
	float: left;
	background: #c9c;
}

.footer {
	background: #cc9;
}