body, html {	
	font-family: 'Ubuntu', sans-serif;	
	background: #fff;
}

.content {
	width: 960px;
	margin: 0 auto;
}

.header {
	text-align: center;
	padding: 15px;
	font-size: 2.3em;
	font-weight: bold;
	background: #977AD4;
}

.nav {
	opacity: 0.8;
	font-size: 1.1em;
	padding: 10px;
	background:#000;
}

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:active {
	color: #ffffff;
	text-decoration: none;
}
.nav ul {
	list-style: none;
}

.nav li {
	padding: 10px;
	display: inline;
}

.main {
	width: 700px;
	padding: 0 5px ;
	min-height: 500px;
	font-size: 1.1em;
	float: left;
	background: #e1e1e1;
}

.main h2 {
	padding: 5px;
}

.main p {
	text-align: center;
	padding: 30px;
}

.sidebar {
	color: #ffffff;
	width: 250px;
	min-height: 500px;
	float: right;
	background: #3d3d3d;
}

.sidebar h2 {
	color: #ABF000;
	padding: 15px;
	font-size: 1.3em;
}

.sidebar p {
	padding: 20px;
}

.sidebar ul {
	list-style: none;
	padding: 20px;
}

.sidebar li {
	padding: 5px;
}


.sidebar h3 {
	color: #ABF000;
	font-style: italic;
	padding: 5px 20px 2px 20px;
	font-size: 0.9em;
}

.about {
	font-style: italic;
	font-size: 0.9em;
	padding: 20px;
}

/* .footer {
	background: #3d3d3d;
}

*/